html, body {
	background: linear-gradient(332deg, #ff8c6a, #fa7575, #910efc);
  background-size: 800% 800%;
  height: 100%;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 26%
	}
	50% {
		background-position: 100% 75%
	}
	100% {
		background-position: 0% 26%
	}
}

@keyframes wiggle {
	0% {
		bottom: 15px;
	}
	50% {
		bottom: 35px;
	}
	100% {
		bottome: 15px;
	}
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*box that takes up the space that the white header background used to take up*/
.fillerbox {
  width: 100%;
  height: 100%;
  opacity: 0%;
}

/*white header background */
.oHeader{
  position: fixed;
  top:0;
  background:white;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*div containing logo, title, etc.*/
.title-box {
  position: relative;
  top:12%;
  bottom:10%;
  margin: auto;
}


#logo{
  width: 200px;
  height:30vh;
}

/*Title Text*/
#title-text {
  display: auto;
  font-size: 12vw;
}

.main-description{
  font-size: 5vmin;
  width:75%;
  margin: auto;
}

#arrow{
  position: static;
  text-align: center;
  bottom:10px;
  height: 40%;
}
#V{
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 15px;
  height:1em;
  font-size: 5vh;
  animation: wiggle 2s ease infinite;
}
#fadeinbox{
  opacity: 0;
  animation: fadeIn 4s linear forwards;
}
 .btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
  background-color: #e475fa !important;
  color: black; 
}
/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(245, 129, 20) !important;
} */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 0 4em 0 1em;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 20px;
  bottom: 0;
  left:10px;
}
/* Container around content */
 .container-fluid {
  left:40px;
  right:1em;
} 

/* The circles on the timeline */
.container-fluid::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  /*border: 4px solid #e475fa;/*rgb(243, 183, 126);*/
  border-radius: 50%;
  top: 0px;
  z-index: 1;
  left: -40px;
}
.space{
  height: 50px;
}

/* Arrow*/
/*.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
} */

/* The content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}